<h2>Your Favorites Food Trucks!</h2>

<div class="table">
    <h2>Trucks!</h2>
    <table>
        <tr>
            <th>Food Truck</th>
            
            
        </tr>

        <tr>
            <td><a routerLink="/detail">Test Truck</a></td>

        </tr>

        <!---iterating through favorite trucks-->
        <tr *ngFor = "let truck of favoriteTrucks" >
            
            <td><a routerLink="/detail">{{truck.name}}</a></td>         
        </tr>

    </table>
</div>

<div class = "backButton">
    <button (click) = "goBack()">Go back</button>
</div>