<h2>Let us help you find a food truck !</h2>

<div class = "searchBar">
    <input type = "text" placeholder="Search...">
    <button type = "submit">Submit</button>
</div>


<div class="table">
    <h2>Trucks!</h2>
    <table>
        <tr>
            <th>Food Truck</th>
            <th>Owner</th>
            
        </tr>

        <tr>
            <td><a routerLink="/detail">Test Truck</a></td>
            <td>Test owner</td>
            
            
        </tr>
        <!--*ngFor = let truck of trucks-->
        <tr *ngFor = "let truck of trucks" >
            <!--{{trucks.name}}-->
            <td><a routerLink="/detail">{{truck.name}}</a></td>         
        </tr>
    </table>
</div>


<div class = "backButton">
    <button (click) = "goBack()">Go back</button>
</div>