<p>register-truck works!</p>
<form id = "register_truck">
    <div class = "container">
        <h1>Register Your Food Truck</h1>
        <p>Please fill out this form</p>
        <hr>
        <label><b>Food Truck name</b></label>
        <input type = "text" #tName placeholder="Enter Food Truck Name" id="foodTruckName" required>

        <label><b>Email</b></label>
        <input type = "text" #oEmail placeholder="Enter Owner email" id="ownerEmail" required>
       
       
            <!--(click)= "registerTruck(tName.value);"-->
        <hr>
        <a routerLink="/ownerDashboard"><button type = submit class="registerBtn" (click) = "registerTruck(tName.value , oEmail.value); " >Register</button></a>
    </div>
</form>